body {
    background-color: lightblue;
}

#title {
    text-align: right;
    font-family: 'Comic Neue', cursive;
}

.red {
    color: red;
}

#title1 {
    font-family: 'Comic Neue', cursive;
}

#title2 {
    font-family: 'Comic Neue', cursive;
}

#title3 {
    font-family: 'Comic Neue', cursive;;
}